@model Web.Models.LogInModel


@if(Model.IsValidated)
{
    <div class="alert alert-success">
        <strong>Success!</strong>
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Whoops!</strong> Invalid email or password.
    </div>
}